### init

#allow init kernel:security { setcheckreqprot };

# Mount debugfs on /sys/kernel/debug.
allow init debugfs_type:dir { mounton };

# /dev/block/mmcblk0p[0-9]
allow init emmcblk_device:blk_file rw_file_perms;

allow init block_device:lnk_file { setattr };
allow init tmpfs:lnk_file create_file_perms;

# /data
allow init sdcardd_exec:file r_file_perms;

# LD_SHIM_LIBS
allow init gpsd:process { noatsecure };
allow init mediaserver:process { noatsecure };
