on early-init
    toolbox setenforce permissive
    start exyrngd

on boot
    setprop sys.usb.config mtp,adb
    setprop usb.vendor 04e8
    setprop usb.product.mtpadb 6860

service exyrngd /sbin/exyrngd -b
