on init
    start set_permissive

on fs
    mkdir /data/property 0700 root root

on post-fs-data
    # Remove symlinks to avoid issues with migrate after nandroid restores
    rm /data/data/com.android.providers.telephony/databases
    rm /data/data/com.android.providers.telephony/shared_prefs
