on early-init
    start set_permissive

on boot
    setprop sys.usb.config adb
    setprop usb.vendor 04e8
    setprop usb.product.adb 6860
    setprop usb.product.mtpadb 6860

on fs
    umount /dev/usb-ffs/adb

    write /sys/class/android_usb/android0/idVendor 04e8
    write /sys/class/android_usb/android0/idProduct 6860

    mkdir /data/property 0700 root root
