on init
    mkdir /efs 0771 radio system
    symlink /dev/block/platform/15540000.dwmmc0/by-name/RADIO /dev/mbin0
    restorecon /dev/mbin0

    symlink  /sys/devices/15510000.usb/ehci_power /dev/ehci_power
    symlink  /sys/devices/10f24000.mipi-lli /dev/mipi-lli

    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus 1
    write /sys/class/net/rmnet1/queues/rx-0/rps_cpus 1
    write /sys/class/net/rmnet2/queues/rx-0/rps_cpus 1
    write /sys/class/net/rmnet3/queues/rx-0/rps_cpus 1
    write /sys/class/net/rmnet4/queues/rx-0/rps_cpus 1
    write /sys/class/net/rmnet5/queues/rx-0/rps_cpus 1
    write /sys/class/net/rmnet6/queues/rx-0/rps_cpus 1
    write /sys/class/net/rmnet7/queues/rx-0/rps_cpus 1
    write /proc/sys/net/core/netdev_max_backlog 8192

on fs
# MIF
    chown radio radio sys/devices/virtual/misc/multipdp/waketime
    chmod 0660 /sys/devices/virtual/misc/umts_dm0/dm_state
    chown radio system /sys/devices/virtual/misc/umts_dm0/dm_state

on early-boot
    # Remove symlinks to avoid issues with migrate after nandroid restores
    # Will be recreated at end of boot
    rm /data/data/com.android.providers.telephony/databases/telephony.db
    rm /data/data/com.android.providers.telephony/shared_prefs/preferred-apn.xml

on post-fs-data
    # Symlink telephony.db and preferred-apn.xml for cbd
    mkdir /data/data/com.android.providers.telephony/databases 0700 radio radio
    mkdir /data/data/com.android.providers.telephony/shared_prefs 0700 radio radio
    symlink /data/user_de/0/com.android.providers.telephony/databases/telephony.db /data/data/com.android.providers.telephony/databases/telephony.db
    symlink /data/user_de/0/com.android.providers.telephony/shared_prefs/preferred-apn.xml /data/data/com.android.providers.telephony/shared_prefs/preferred-apn.xml

# CP Boot Daemon (CBD)
service cpboot-daemon /system/bin/cbd -d -t xmm72xx_lli -b l -m l -p 13
    class main
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log shell

on property:persist.sys.cpboot=disable
    stop cpboot-daemon

on property:ro.debuggable=1
    write /sys/kernel/debug/tracing/buffer_size_kb 1408
    write /sys/kernel/debug/tracing/set_event modem_if:mif_log
    write /sys/kernel/debug/tracing/tracing_on 1
